.service-top{
    text-align: center;
}
.service-top h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.service-top p {
    font-size: 1.1rem;
    color: var(--heading-color);
    line-height: 28px;
    margin-bottom: 50px;
}
.service-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    
}
.service-item {
    box-shadow:  rgba(0, 0, 0.15) 0px 5px 15px 0px ;
    width: 33%;
    background: #fff;
    /* border: 2px solid red; */


}


.service-card-top{
    padding: 30px;
   
    text-align: center;
  border-bottom: 1px solid #d3cef2;

}
.service-card-top h2 {
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
}
.service-card-top .pricing {
    font-size: 1.4rem;

}
.service-card-top .pricing span{
    font-size: 1rem;
    color: #666;
}
.service-item .services{
    padding: 30px;

}
.service-item .services ul li {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    color: #666;
    line-height: 28px;
}
.service-item .services ul li span i {
    font-size: 0.7rem;
}
.services {
    text-align: center;
}
.services button {
    margin-top: 50px;
}

.service-item-02 .service-card-top {
    background: var(--primary-color);
    border-radius: 5px 5px 0px 0px;
}
.service-item-02 .service-card-top h2{
    color: #fff;
}
.service-item-02 .service-card-top h2 span{
    color: rgba(255, 255, 255, 0.876);
}
.service-item-02 .services ul li span i {
    color: var(--primary-color);
}

/* responsive */

/* @media only screen and (min-width:496px){
   #price .service-wrapper .service-item {
    border: 3px solid red;
    flex-basis: 22%;
   } 
} */

@media only screen and (max-width: 600px) {
   #price .service-wrapper  {
     
     flex-direction: column;
     gap: 25px;
     align-items: center;
     justify-content: center;
     padding: 0;
     
      
    }
    /* .service-top{
        text-align: center;
    }
    .service-top h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .service-top p {
        font-size: 1.1rem;
        color: var(--heading-color);
        line-height: 28px;
        margin-bottom: 50px;
    } */
    #price .service-top h2 {
         font-size: 2rem;
         margin-top: 15px;
    }
    #price .service-top p{
        font-size: 1rem;
        line-height: 24px;
        margin-bottom: 30px;
      
      
    }
#price .service-item
    {
     /* border: 2px solid red; */
     width: 28%;
     height: 85vh;
    }
  }