.extension-top{
    margin-bottom: 50px;
    text-align: center;
}
.extension-top h2{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.extension-top p {
    color: var(--heading-color);
    font-size: 1rem;
   line-height: 28px;
}
.extension-wrapper{
    background: rgb(106, 106, 227);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;

}
.extension-item{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    width: 33%;

}
.extension-icon{
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;
    background: #fff;
}

.extension-icon img{
    width: 160%;
}
.extension-content{
    width: 80%;

}
.extension-content h4 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.6rem;
   
}
.extension-content p {
    font-size: 1rem;
    color: rgba(255,255,255,0.801);
}